{% extends 'base.html.twig' %}

{% block title %} AjouterDocument {% endblock %}

{% block body %}

<h1>Liste Dossier</h1>
 <table id="Dossier" class="table table-striped">
     <thead>
   <tr> 
           <th> Nom </th>

    

    </tr>
    </thead>
        {% for Dossier in Dossier %}
        <tr>
        <td>  {{Dossier.Nom|e }}  
   
    
    <td> <a href="/document/{{ Dossier.id }}" class="btn btn-dark">Détails</a>
      <a href="/modifierdossier/{{ Dossier.id }}" class="btn btn-dark">Modifier</a>
      <a href="/afficherdocument/{{ Dossier.id }}" class="btn btn-dark">Document</a>
        {% if is_granted('ROLE_ADMIN') %}
    <a href="/deletedossiert/{{ Dossier.id }}" class="btn btn-danger" 
              onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>
            </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

</ul>
{{knp_pagination_render(Dossier)}}
{%endblock%}